In [1]:
# Introduction to Machine Learning ---- >

# Data(df) --- > x(input) , y(output)
# x ----- > x_train , x_test
# y ---- > y_train , y_test

# Machine find the relation between input to target data .

# Machine (input) --- > output ????

# Machine(x_train , y_train) ---- > Machine(x_test) ---- > output ?????
# Actual_output = y_test , Machine_predict = y_pred

# Machine Capability ---- > y_test <--- > y_pred

# step-1 Data Dividation

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("covid_toy.csv")
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [4]:
df.shape

(100, 6)

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
df['fever'] = df['fever'].fillna(df['fever'].mean())

In [7]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [8]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [9]:
x = df.drop(columns = ['has_covid']) ## Input data
x

    age  gender  fever   cough       city
0    60    Male  103.0    Mild    Kolkata
1    27    Male  100.0    Mild      Delhi
2    42    Male  101.0    Mild      Delhi
3    31  Female   98.0    Mild    Kolkata
4    65  Female  101.0    Mild     Mumbai
..  ...     ...    ...     ...        ...
95   12  Female  104.0    Mild  Bangalore
96   51  Female  101.0  Strong    Kolkata
97   20  Female  101.0    Mild  Bangalore
98    5  Female   98.0  Strong     Mumbai
99   10  Female   98.0  Strong    Kolkata

[100 rows x 5 columns]

In [10]:
y = df['has_covid'] ## target data
y

0      No
1     Yes
2      No
3      No
4      No
     ...
95     No
96    Yes
97     No
98     No
99    Yes
Name: has_covid, Length: 100, dtype: object

In [17]:
#!pip install scikit_learn

In [16]:
from sklearn.model_selection import train_test_split

In [19]:
x_train, x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 ,random_state=30)

In [20]:
print("Total data shape :" , df.shape)
print("-----------------------------")
print("Input data(x) shape:" , x.shape)
print("x_train data shape:" , x_train. shape)
print("x_test data shape:" , x_test.shape)
print("---------------------")

print("Target data shape(y):" , y.shape)
print("y_train data shape :" , y_train.shape)
print("y_test data shape:" , y_test. shape)
print("-----------------------------")

Total data shape : (100, 6)
-----------------------------
Input data(x) shape: (100, 5)
x_train data shape: (80, 5)
x_test data shape: (20, 5)
---------------------
Target data shape(y): (100,)
y_train data shape : (80,)
y_test data shape: (20,)
-----------------------------

In [21]:
# df(100,6) = x(100,5) + y(100,1)
# x(100,5) = x_train(80,5) + x_test(20,5)
# y(100,1) = y_train(80,1)+ y_test(20,1)