# titanic data divide

In [33]:
import numpy as np 
import pandas as pd

In [34]:
df = pd.read_csv("titanic.csv")
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [35]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [36]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [37]:
df['Fare'] = df['Fare'].fillna(df['Fare'].mean())

In [38]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [39]:
df= df.drop(columns = ['Cabin'])

In [40]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [41]:
x = df.drop(columns = ['Survived']) ## Input data
#x

In [42]:
y = df['Survived'] ## target data
y

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
x_train, x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 ,random_state=30)

In [45]:
print("Total data shape :" , df.shape)
print("-----------------------------")
print("Input data(x) shape:" , x.shape)
print("x_train data shape:" , x_train. shape)
print("x_test data shape:" , x_test.shape)
print("---------------------")

print("Target data shape(y):" , y.shape)
print("y_train data shape :" , y_train.shape)
print("y_test data shape:" , y_test. shape)
print("-----------------------------")

Total data shape : (418, 11)
-----------------------------
Input data(x) shape: (418, 10)
x_train data shape: (334, 10)
x_test data shape: (84, 10)
---------------------
Target data shape(y): (418,)
y_train data shape : (334,)
y_test data shape: (84,)
-----------------------------

# tips data divide

In [46]:
df = pd.read_csv("tips.csv")
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [47]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [50]:
x = df.drop(columns = ['total_bill']) ## Input data
#x

In [51]:
y = df['total_bill'] ## target data
y

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [52]:
from sklearn.model_selection import train_test_split

In [53]:
x_train, x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 ,random_state=30)

In [54]:
print("Total data shape :" , df.shape)
print("-----------------------------")
print("Input data(x) shape:" , x.shape)
print("x_train data shape:" , x_train. shape)
print("x_test data shape:" , x_test.shape)
print("---------------------")

print("Target data shape(y):" , y.shape)
print("y_train data shape :" , y_train.shape)
print("y_test data shape:" , y_test. shape)
print("-----------------------------")

Total data shape : (244, 7)
-----------------------------
Input data(x) shape: (244, 6)
x_train data shape: (195, 6)
x_test data shape: (49, 6)
---------------------
Target data shape(y): (244,)
y_train data shape : (195,)
y_test data shape: (49,)
-----------------------------