In [ ]:
In [ ]:

----- >

# (2). Stadardiation

---- > 1-D data convert .

# Data Preprocessing Steps
# (1). Data dividation ---- >
# x,y
# x_train , x_test , y_traty,
y rest

--- > mean = 0 . std = 1 --- > Normal distribution
# (3). MinMaxScaling --- > min = 0 , max = 1 ---- > Data scaled format
# (4). Encoding --- > Transform your categorical data into Numerical data.
# (4a). Label
# (4b) .Ordinal ---- > multi-dimensional data convert and here we can
# set our sub-categories.
# (4c). OneHot --- > column -- > sub-categories --- > New_column
# (4d). get_dummies --- > columns --- > sub-categories --- > New_column+column_name

In [31]:
import numpy as np
import pandas as pd

In [32]:
df = pd.read_csv("covid_toy.csv")
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [33]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [34]:
from sklearn.impute import SimpleImputer

In [35]:
si = SimpleImputer()

In [36]:
df['fever'] = si.fit_transform(df[['fever']])

In [37]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [38]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [39]:
df_label = df.copy()

In [40]:
df_label.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [41]:
from sklearn.preprocessing import LabelEncoder

In [42]:
lb = LabelEncoder()

In [43]:
df['gender']=lb.fit_transform(df['gender'])
df['cough']=lb.fit_transform(df['cough'])
df['city']=lb.fit_transform(df['city'])
df['has_covid']=lb.fit_transform(df['has_covid'])

In [44]:
df_label.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

# 2. Ordinal Encoder

In [29]:
df_ordinal = df.copy()

In [30]:
df_ordinal.head(2)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1

In [19]:
df_ordinal = df_ordinal.drop(columns = ['age' , 'fever' , 'city'])

In [20]:
df_ordinal.head(2)

   gender  cough  has_covid
0       1      0          0
1       1      0          1

In [26]:
from sklearn.preprocessing import OrdinalEncoder

In [27]:
oe = OrdinalEncoder(categories = [['Male', 'Female'],
                                  ['Mild' , 'Strong'],
                                  ['Yes' , 'No']])

In [ ]:
df_oe = oe.fit_transform(df_ordinal)

# 3. OneHot Encoding 
gender(m,f)---> create a new column of these sub- categories---> C1(M), C2(F)

In [45]:
df_one = df.copy()

In [46]:
df_one.head(2)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1

In [47]:
from sklearn.preprocessing import OneHotEncoder

In [48]:
ohe = OneHotEncoder(drop ='first' , sparse_output=False)

In [ ]:
ohe_arr= ohe.fit_transform

# 4. get_dummies

In [49]:
df_get = df.copy()

In [50]:
df_get.head(2)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1

In [52]:
d = pd.get_dummies(df_get , columns = ['gender' , 'cough' ,'city' , 'has_covid'],
               drop_first= True)

In [53]:
d.astype(int)

    age  fever  gender_1  cough_1  city_1  city_2  city_3  has_covid_1
0    60    103         1        0       0       1       0            0
1    27    100         1        0       1       0       0            1
2    42    101         1        0       1       0       0            0
3    31     98         0        0       0       1       0            0
4    65    101         0        0       0       0       1            0
..  ...    ...       ...      ...     ...     ...     ...          ...
95   12    104         0        0       0       0       0            0
96   51    101         0        1       0       1       0            1
97   20    101         0        0       0       0       0            0
98    5     98         0        1       0       0       1            0
99   10     98         0        1       0       1       0            1

[100 rows x 8 columns]