In [1]:
my_dict = {"name": "Yash", "age": 22, "course": "Data Science"}
print(my_dict["name"])

Yash

In [2]:
person = {"name": "Yash", "age": 22}
print(person["name"])         
print(person.get("age"))       
print(person.get("gender"))

Yash
22
None

In [3]:
person = {"name": "Yash"}
person["age"] = 22        
person["name"] = "Raj"     
print(person)

{'name': 'Raj', 'age': 22}

In [4]:
my_dict = {"a": 1, "b": 2, "c": 3}
del my_dict["b"]          # Delete key 'b'
my_dict.pop("c")          # Remove and return value for key 'c'
my_dict.clear()           # Remove all items
print(my_dict)

{}

In [5]:
student = {"name": "Yash", "age": 22}

for key in student:
    print(key, student[key])

name Yash
age 22

In [6]:
#1. Create a dictionary of 5 fruits and their prices
fruits = {"apple": 50, "banana": 20, "orange": 40, "grapes": 60, "mango": 100}
print(fruits.keys())
print(fruits.values())

dict_keys(['apple', 'banana', 'orange', 'grapes', 'mango'])
dict_values([50, 20, 40, 60, 100])

In [7]:
#2. Update the value of "b" to 20.
d = {"a": 1, "b": 2, "c": 3}
d["b"] = 20
print(d)

{'a': 1, 'b': 20, 'c': 3}

In [8]:
#3. Remove duplicate values.
d = {"a": 10, "b": 20, "c": 10}
unique = {}
seen = set()
for k, v in d.items():
    if v not in seen:
        unique[k] = v
        seen.add(v)
print(unique)

{'a': 10, 'b': 20}

In [9]:
#4. Reverse a dictionary (keys become values)
d = {"a": 1, "b": 2}
reversed_d = {v: k for k, v in d.items()}
print(reversed_d)  # {1: 'a', 2: 'b'}

{1: 'a', 2: 'b'}

In [10]:
#5.count how many times each item appears in a list using dict
items = ["apple", "banana", "apple", "orange", "banana", "apple"]
count = {}

for item in items:
    count[item] = count.get(item, 0) + 1

print(count)

{'apple': 3, 'banana': 2, 'orange': 1}

In [12]:
# Q6. Count how many times each character appears in a string
text = "banana"
count = {}

for char in text:
    count[char] = count.get(char, 0) + 1

print(count)

{'b': 1, 'a': 3, 'n': 2}