# For loop questions

In [2]:
# 1. Print numbers from 1 to 10
print("Numbers from 1 to 10:")
for i in range(1, 11):
    print(i)

Numbers from 1 to 10:
1
2
3
4
5
6
7
8
9
10

In [5]:
# 2. Print even numbers between 1 to 20
print("Even numbers from 1 to 20:")
for i in range(2, 21, 2):
    print(i)

Even numbers from 1 to 20:
2
4
6
8
10
12
14
16
18
20

In [7]:
# 3. Print the characters in a string
print("Characters in the string 'Python':")
word = "Python"
for char in word:
    print(char)

Characters in the string 'Python':
P
y
t
h
o
n

In [8]:
# 4. Sum of first 10 natural numbers
print("Sum of first 10 natural numbers:")
total = 0
for i in range(1, 11):
    total += i
print("Sum:", total)

Sum of first 10 natural numbers:
Sum: 55

In [11]:

# 5. Multiplication table of 5
print("Multiplication table of 5:")
num = 5

for i in range(1, 11):
    print(f"{num} x {i} = {num*i}")

Multiplication table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [12]:
# 6. Prime numbers between 10 and 50
print("Prime numbers between 10 and 50:")
for num in range(10, 51):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num)

Prime numbers between 10 and 50:
11
13
17
19
23
29
31
37
41
43
47

In [15]:
# 7. Reverse a string using a for loop
print("Reverse the string 'Data':")
s = "Data"
reversed_s = ''
for char in s:
    reversed_s = char + reversed_s
print(reversed_s)

Reverse the string 'Data':
ataD

In [16]:
# 8. Count vowels in a string
print("Count vowels in 'Hello World':")
s = "Hello World"
count = 0
for char in s.lower():
    if char in 'aeiou':
        count += 1
print("Vowel count:", count)

Count vowels in 'Hello World':
Vowel count: 3

In [17]:
# 9, Factorial of a number
print("Factorial of 5:")
n = 5
fact = 1
for i in range(1, n + 1):
    fact *= i
print("Factorial:", fact)

Factorial of 5:
Factorial: 120

In [21]:
# 10. Check if number is Armstrong
print("Check if number is an Armstrong number:")
num = int(input("enter number"))
power = len(str(num))
sum = 0
for digit in str(num):
    sum += int(digit) ** power
print("Armstrong" if sum == num else "Not Armstrong")

Check if number is an Armstrong number:

enter number 153

Armstrong