# Introduction to Python

# Fundamentals of Python
# (1). Data types
# (2). Variables
# (3). Print() and input()

In [2]:
# (1). Data types
# (a). Integer ----> 35 , -35
# (b). Float  ---> 13.57
# (c). String ---> '' , " " , ''' '''
# (d). Boolean  ----> True , False

In [3]:
# (2). Variables ---> This is a container in which we can store or assign the values .
# Ex.
a = 5
b = 'sam'
c = 45.89

### here a,b,c = variables

# Types of Variables ----->
# (a). Global Variable ---> This is outside of code of block .
a = 5
b = ['sam' , 'raj']
# (b). Local Variable  ---> This is inside of code of block .
def my_add():
  a = 5
  b = 6
  c = a + b
  print(c)
my_add()

### here a,b ,c local variables .

def my_add(a,b):
  c = a + b
  print(c)
a = 5
b = 6
my_add(a,b)

## here a,b ---> global variable and c ---> local variable .

11
11

In [4]:
# input() ----> This is pre-defined function of python that will take query from users and its output
# is stored in string format by default .

a = '1'
# type(a)
b = '2'
c = a + b
c

'12'

In [6]:
a = input("Enter first number:")
b = input("Enter second number:")
c = a + b
c

Enter first number: 12
Enter second number: 34

'1234'

In [7]:
# type-casting -----> Using this method , we can change one data-type value to another data type .

In [8]:
a = 5
print(a)
print(type(a))
b = float(a)
print(b)
print(type(b))
c = str(b)
print(c)
print(type(c))

5
<class 'int'>
5.0
<class 'float'>
5.0
<class 'str'>

In [9]:
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
c = a + b
c

Enter first number: 12
Enter second number: 34

46

In [10]:
# print() ----> This is also a pre-defined function in python that will execute our query on the terminal .
a = 5
print(a)
b = 56.89
print(b)

5
56.89

In [11]:
a = input("Enter first word:")
b = input("Enter second word:")
c = a + b
c

Enter first word: good
Enter second word: morning

'goodmorning'

In [12]:
# Most common used operators in python

# (1). Add(+) -----> 5+4 = 9
# (2). Substract(-) ---> 5-3 =2
# (3). Multiplication(*) ----> 5*2 = 10
# (4). Division(/) ---> 5/2 = 2.5
# (5). Floor Division(//) ---> 5//2
# (6). Module(%) ---> FOr Remainder Calculation ---> 25%10 = 5
# (7). Equal to (=) ---> for values assignment ---> a = 5
# (8). Equal Equal to(==) ---> for values comparison ---> 'sam'=='mohit'
# (9). Not Equal to(!=) ---> Not Equal to ---> 'sam'!='Mohit'
# (10). Greater thna (>) ---> 5>4
# (11). Less than (<) ---> 3<5
# (12). Greater than or Equal to (>=) ---> 5>=5
# (13). Less than or Equal to (<=) ---> 4<=5
# (14). Power(**) ---> 2**3 = 8

# # Conditional Statement in python

# if

# elif           user_query

# else

In [14]:
a = input("Enter name:")
if(a=='sam'):
  print('yes')
elif(a=='raj'):
  print('no')
else:
  print('try again...')

Enter name: rahul

try again...

In [15]:
# Q.2 Write a program who tell user is child , young or old .
a = int(input("Enter Number:"))
if(0<=a<=20):
  print("child")
elif(21<=a<=50):
  print("young")
elif(51<=a<=90):
  print("old")
else:
  print("Please enter valid age.....")

Enter Number: 34

young

In [18]:
#Q3.
print("Pizaa-100 , Burgur-50 , Juice-20 , Biryani-100")
a = input("Enter your yummy item.....")

if (a == 'Biryani'):
  b = int(input("Enter total quantity:"))
  print("Your yummy item is Biryani.")
  c = b*100
  if (c>1000):
    print("Your 10% discounted price is" , c-(c*10/100))
  else:
      print("Your total bill is :" , c)

Pizaa-100 , Burgur-50 , Juice-20 , Biryani-100

Enter your yummy item..... Biryani
Enter total quantity: 15

Your yummy item is Biryani.
Your 10% discounted price is 1350.0