# What is a Tuple?
A tuple in Python is an ordered, immutable collection of items. Tuples can hold elements of any type (integers, strings, other tuples, lists, etc.), but unlike lists, their contents cannot be changed after creation

 Immutable: You cannot add, remove, or change items after creation.

Ordered: Tuples maintain the order of insertion.

Allow duplicates: Multiple items can have the same value.

Can hold mixed data types: E.g., (1, "hello", 3.4).

In [1]:
# Creating a tuple
t = (10, 20, 30, 40)

# Accessing items
print(t[1])    # Output: 20

# Slicing
print(t[:3])   # Output: (10, 20, 30)

# Length
print(len(t))  # Output: 4

# Concatenation
t2 = t + (50, 60)
print(t2)      # Output: (10, 20, 30, 40, 50, 60)

# Unpacking
a, b, c, d = t

# Membership
print(30 in t) # Output: True

# Nested tuples
nested = (1, (2, 3), 4)
print(nested[1]) # Output: (2, 3)

20
(10, 20, 30)
4
(10, 20, 30, 40, 50, 60)
True
(2, 3)

In [2]:
# 1.Create a tuple with values 1, 2, 3, and 4.
# Q1
my_tuple = (1, 2, 3, 4)
print(my_tuple)

(1, 2, 3, 4)

In [3]:
# 2.How do you access the last element of a tuple t = (5, 10, 15)?
# Q2
t = (5, 10, 15)
print(t[-1])

15

In [4]:
#3 .Is it possible to change t in a tuple t = (1, 2, 3)? Why or why not?
# Q3
t = (1, 2, 3)
try:
    t[0] = 99  # This will raise an error
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

In [5]:
#5.Unpack a tuple numbers = (10, 20, 30) into variables a, b, c.
# Q5
numbers = (10, 20, 30)
a, b, c = numbers
print(a, b, c)

10 20 30

In [8]:
#6.concatenate two tuples a = (1, 2) and b = (3, 4) and assign to variable c.
# Q6
a = (1, 2)
b = (3, 4)
c = a + b
print(c)

(1, 2, 3, 4)

In [9]:
# 7.Count how many times 2 appears in t = (2, 1, 2, 3, 2).
# Q7
t = (2, 1, 2, 3, 2)
print(t.count(2))

3

In [10]:
# Show how to convert a list to a tuple and a tuple to a list.

lst = [1, 2, 3]
tup = tuple(lst)     # list to tuple
new_lst = list(tup)  # tuple to list
print(tup)     # Output: (1, 2, 3)
print(new_lst) # Output: [1, 2, 3]

(1, 2, 3)
[1, 2, 3]